In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("thailand_data.xlsx")

In [3]:
df

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,2020-01-12,NaT,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,2020-01-17,NaT,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,2020-01-22,NaT,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,2020-01-22,NaT,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,2020-01-24,NaT,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
816984,816985,2021-08-11,2021-08-10,หญิง,8.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816985,816986,2021-08-11,2021-08-10,ชาย,14.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816986,816987,2021-08-11,2021-08-10,ชาย,59.0,ปี,Thailand,สระแก้ว,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,สระแก้ว,อรัญประเทศ
816987,816988,2021-08-11,2021-08-10,หญิง,34.0,ปี,Thailand,สระแก้ว,อื่นๆ,กรุงเทพมหานคร,บางขุนเทียน
816988,816989,2021-08-11,2021-08-10,หญิง,19.0,ปี,Thailand,สระแก้ว,อื่นๆ,พระนครศรีอยุธยา,อุทัย

In [4]:
df_II = pd.read_csv("thailand_data.csv")

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_9412\95747211.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_II = pd.read_csv("thailand_data.csv")

In [5]:
df_II

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
839766,839767,12/8/2021,11/8/2021,ชาย,52.0,ปี,NaN,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839767,839768,12/8/2021,11/8/2021,ชาย,34.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839768,839769,12/8/2021,11/8/2021,ชาย,31.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839769,839770,12/8/2021,11/8/2021,ชาย,83.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839770,839771,12/8/2021,11/8/2021,ชาย,47.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN

In [6]:
d = {'title' : "Fun with Python",
     "price" : 230,
     "author" : "Bob Pres"}

d2 = {"title" : "Intorduction to Python",
      "price" : 230,}

In [7]:
books = [d,d2]

In [8]:
books

[{'title': 'Fun with Python', 'price': 230, 'author': 'Bob Pres'},
 {'title': 'Intorduction to Python', 'price': 230}]

In [9]:
d["author"]

'Bob Pres'

In [10]:
pd.DataFrame(books)

                    title  price    author
0         Fun with Python    230  Bob Pres
1  Intorduction to Python    230       NaN

In [11]:
import requests

In [12]:
result = requests.get("http://api.openweathermap.org/data/2.5/forecast?q=Bangkok,TH&appid=bae1310c685763246ff511b872ecce5a")

In [13]:
d = result.json()

In [14]:
Df_III = pd.DataFrame(d["list"])

In [15]:
Df_III["rain amount"] = Df_III["rain"].str["3h"]
Df_III

,dt,main,weather,clouds,wind,visibility,pop,rain,sys,dt_txt,rain amount
0,1755712800,"{'temp': 302.3, 'feels_like': 306.02, 'temp_mi...","[{'id': 500, 'main': 'Rain', 'description': 'l...",{'all': 96},"{'speed': 2.21, 'deg': 186, 'gust': 4.14}",10000,0.23,{'3h': 0.25},{'pod': 'n'},2025-08-20 18:00:00,0.25
1,1755723600,"{'temp': 301.51, 'feels_like': 305.15, 'temp_m...","[{'id': 500, 'main': 'Rain', 'description': 'l...",{'all': 98},"{'speed': 1.08, 'deg': 209, 'gust': 1.45}",10000,1.00,{'3h': 2.89},{'pod': 'n'},2025-08-20 21:00:00,2.89
2,1755734400,"{'temp': 300.8, 'feels_like': 304.13, 'temp_mi...","[{'id': 804, 'main': 'Clouds', 'description': ...",{'all': 100},"{'speed': 0.77, 'deg': 330, 'gust': 0.96}",10000,0.80,NaN,{'pod': 'd'},2025-08-21 00:00:00,NaN
3,1755745200,"{'temp': 303.98, 'feels_like': 308.13, 'temp_m...","[{'id': 804, 'main': 'Clouds', 'description': ...",{'all': 100},"{'speed': 0.86, 'deg': 105, 'gust': 1.01}",10000,0.00,NaN,{'pod': 'd'},2025-08-21 03:00:00,NaN
4,1755756000,"{'temp': 307.36, 'feels_like': 311.66, 'temp_m...","[{'id': 804, 'main': 'Clouds', 'description': ...",{'all': 100},"{'speed': 1.18, 'deg': 193, 'gust': 1.41}",10000,0.00,NaN,{'pod': 'd'},2025-08-21 06:00:00,NaN
5,1755766800,"{'temp': 306.57, 'feels_like': 310.61, 'temp_m...","[{'id': 804, 'main': 'Clouds', 'description': ...",{'all': 97},"{'speed': 3.87, 'deg': 168, 'gust': 2.84}",10000,0.00,NaN,{'pod': 'd'},2025-08-21 09:00:00,NaN
6,1755777600,"{'temp': 303.85, 'feels_like': 307.61, 'temp_m...","[{'id': 804, 'main': 'Clouds', 'description': ...",{'all': 99},"{'speed': 4.7, 'deg': 167, 'gust': 5.85}",10000,0.00,NaN,{'pod': 'n'},2025-08-21 12:00:00,NaN
7,1755788400,"{'temp': 302.57, 'feels_like': 305.82, 'temp_m...","[{'id': 804, 'main': 'Clouds', 'description': ...",{'all': 100},"{'speed': 4.13, 'deg': 178, 'gust': 6.49}",10000,0.38,NaN,{'pod': 'n'},2025-08-21 15:00:00,NaN
8,1755799200,"{'temp': 301.47, 'feels_like': 304.75, 'temp_m...","[{'id': 500, 'main': 'Rain', 'description': 'l...",{'all': 100},"{'speed': 3.3, 'deg': 156, 'gust': 6.11}",10000,0.82,{'3h': 1.05},{'pod': 'n'},2025-08-21 18:00:00,1.05
9,1755810000,"{'temp': 300.33, 'feels_like': 303.29, 'temp_m...","[{'id': 501, 'main': 'Rain', 'description': 'm...",{'all': 100},"{'speed': 2.05, 'deg': 194, 'gust': 4.66}",10000,1.00,{'3h': 4.54},{'pod': 'n'},2025-08-21 21:00:00,4.54
10,1755820800,"{'temp': 298.38, 'feels_like': 299.26, 'temp_m...","[{'id': 500, 'main': 'Rain', 'description': 'l...",{'all': 100},"{'speed': 2.48, 'deg': 267, 'gust': 4.32}",10000,1.00,{'3h': 1.84},{'pod': 'd'},2025-08-22 00:00:00,1.84
11,1755831600,"{'temp': 301.23, 'feels_like': 304.25, 'temp_m...","[{'id': 500, 'main': 'Rain', 'description': 'l...",{'all': 100},"{'speed': 2, 'deg': 251, 'gust': 2.81}",10000,1.00,{'3h': 2.63},{'pod': 'd'},2025-08-22 03:00:00,2.63
12,1755842400,"{'temp': 301.61, 'feels_like': 304.73, 'temp_m...","[{'id': 804, 'main': 'Clouds', 'description': ...",{'all': 100},"{'speed': 3.21, 'deg': 174, 'gust': 3.8}",10000,0.80,NaN,{'pod': 'd'},2025-08-22 06:00:00,NaN
13,1755853200,"{'temp': 302.31, 'feels_like': 305.85, 'temp_m...","[{'id': 804, 'main': 'Clouds', 'description': ...",{'all': 100},"{'speed': 4.65, 'deg': 171, 'gust': 5}",10000,0.00,NaN,{'pod': 'd'},2025-08-22 09:00:00,NaN
14,1755864000,"{'temp': 300.67, 'feels_like': 303.6, 'temp_mi...","[{'id': 500, 'main': 'Rain', 'description': 'l...",{'all': 100},"{'speed': 2.66, 'deg': 187, 'gust': 5.94}",6253,0.36,{'3h': 0.4},{'pod': 'n'},2025-08-22 12:00:00,0.40
15,1755874800,"{'temp': 299.9, 'feels_like': 302.67, 'temp_mi...","[{'id': 500, 'main': 'Rain', 'description': 'l...",{'all': 100},"{'speed': 2.11, 'deg': 276, 'gust': 4.77}",10000,1.00,{'3h': 2.83},{'pod': 'n'},2025-08-22 15:00:00,2.83
16,1755885600,"{'temp': 299.33, 'feels_like': 299.33, 'temp_m...","[{'id': 804, 'main': 'Clouds', 'description': ...",{'all': 100},"{'speed': 0.7, 'deg': 253, 'gust': 1.66}",10000,0.80,NaN,{'pod': 'n'},2025-08-22 18:00:00,NaN
17,1755896400,"{'temp': 298.95, 'feels_like': 299.83, 'temp_m...","[{'id': 500, 'main': 'Rain', 'description': 'l...",{'all': 100},"{'speed': 1.41, 'deg': 222, 'gust': 2.69}",10000,0.20,{'3h': 0.26},{'pod': 'n'},2025-08-22 21:00:00,0.26
18,1755907200,"{'temp': 299.32, 'feels_like': 299.32, 'temp_m...","[{'id': 804, 'main': 'Clouds', 'description': ...",{'all': 100},"{'speed': 1.14, 'deg': 239, 'gust': 2.17}",10000,0.00,NaN,{'pod': 'd'},2025-08-23 00:00:00,NaN
19,1755918000,"{'temp': 303.05, 'feels_like': 306.82, 'temp_m...","[{'id': 500, 'main': 'Rain', 'description': 'l...",{'all': 84},"{'speed': 1.65, 'deg': 242, 'gust': 2.37}",10000,0.56,{'3h': 0.57},{'pod': 'd'},2025-08-23 03:00:00,0.57
20,1755928800,"{'temp': 304.06, 'feels_like': 308.3, 'temp_mi...","[{'id': 500, 'main': 'Rain', 'description': 'l...",{'all': 85},"{'speed': 2.33, 'deg': 192, 'gust': 2.39}",6158,1.00,{'3h': 2.58},{'pod': 'd'},2025-08-23 06:00:00,2.58
21,1755939600,"{'temp': 300.8, 'feels_like': 304.26, 'temp_mi...","[{'id': 501, 'main': 'Rain', 'description': 'm...",{'all': 100},"{'speed': 3.83, 'deg': 166, 'gust': 5.43}",7889,1.00,{'3h': 4.86},{'pod': 'd'},2025-08-23 09:00:00,4.86
22,1755950400,"{'temp': 299.4, 'feels_like': 299.4, 'temp_min...","[{'id': 501, 'main': 'Rain', 'description': 'm...",{'all': 100},"{'speed': 4.3, 'deg': 196, 'gust': 8.34}",6076,1.00,{'3h': 4.03},{'pod': 'n'},2025-08-23 12:00:00,4.03
23,1755961200,"{'temp': 297.62, 'feels_like': 298.52, 'temp_m...","[{'id': 501, 'main': 'Rain', 'description': 'm...",{'all': 100},"{'speed': 4.23, 'deg': 246, 'gust': 9.31}",10000,1.00,{'3h': 3.24},{'pod': 'n'},2025-08-23 15:00:00,3.24
24,1755972000,"{'temp': 297.92, 'feels_like': 298.78, 'temp_m...","[{'id': 500, 'main': 'Rain', 'description': 'l...",{'all': 100},"{'speed': 1.55, 'deg': 246, 'gust': 4.67}",10000,1.00,{'3h': 0.27},{'pod': 'n'},2025-08-23 18:00:00,0.27
25,1755982800,"{'temp': 298.03, 'feels_like': 298.9, 'temp_mi...","[{'id': 804, 'main': 'Clouds', 'description': ...",{'all': 100},"{'speed': 0.58, 'deg': 141, 'gust': 0.97}",10000,0.22,NaN,{'pod': 'n'},2025-08-23 21:00:00,NaN
26,1755993600,"{'temp': 298.35, 'feels_like': 299.22, 'temp_m...","[{'id': 500, 'main': 'Rain', 'description': 'l...",{'all': 100},"{'speed': 1.61, 'deg': 162, 'gust': 2.31}",9176,1.00,{'3h': 2.38},{'pod': 'd'},2025-08-24 00:00:00,2.38
27,1756004400,"{'temp': 299.23, 'feels_like': 299.23, 'temp_m...","[{'id': 500, 'main': 'Rain', 'description': 'l...",{'all': 100},"{'speed': 1.91, 'deg': 186, 'gust': 2.65}",10000,1.00,{'3h': 2.01},{'pod': 'd'},2025-08-24 03:00:00,2.01
28,1756015200,"{'temp': 301.68, 'feels_like': 305.54, 'temp_m...","[{'id': 500, 'main': 'Rain', 'description': 'l...",{'all': 95},"{'speed': 2.72, 'deg': 208, 'gust': 3.43}",8119,1.00,{'3h': 2.3},{'pod': 'd'},2025-08-24 06:00:00,2.30
29,1756026000,"{'temp': 300.77, 'feels_like': 304.32, 'temp_m...","[{'id': 501, 'main': 'Rain', 'description': 'm...",{'all': 100},"{'speed': 2.65, 'deg': 223, 'gust': 4.33}",6957,1.00,{'3h': 4.62},{'pod': 'd'},2025-08-24 09:00:00,4.62
30,1756036800,"{'temp': 298.88, 'feels_like': 299.81, 'temp_m...","[{'id': 501, 'main': 'Rain', 'description': 'm...",{'all': 100},"{'speed': 1.35, 'deg': 193, 'gust': 3.32}",10000,1.00,{'3h': 3.72},{'pod': 'n'},2025-08-24 12:00:00,3.72
31,1756047600,"{'temp': 298.52, 'feels_like': 299.44, 'temp_m...","[{'id': 500, 'main': 'Rain', 'description': 'l...",{'all': 100},"{'speed': 2.28, 'deg': 210, 'gust': 6.19}",10000,1.00,{'3h': 1.59},{'pod': 'n'},2025-08-24 15:00:00,1.59
32,1756058400,"{'temp': 298.19, 'feels_like': 299.15, 'temp_m...","[{'id': 500, 'main': 'Rain', 'description': 'l...",{'all': 100},"{'speed': 2.62, 'deg': 170, 'gust': 5.5}",10000,1.00,{'3h': 1.29},{'pod': 'n'},2025-08-24 18:00:00,1.29
33,1756069200,"{'temp': 298.17, 'feels_like': 299.05, 'temp_m...","[{'id': 500, 'main': 'Rain', 'description': 'l...",{'all': 100},"{'speed': 1.9, 'deg': 201, 'gust': 4.78}",10000,0.89,{'3h': 1.65},{'pod': 'n'},2025-08-24 21:00:00,1.65
34,1756080000,"{'temp': 298.34, 'feels_like': 299.19, 'temp_m...","[{'id': 500, 'main': 'Rain', 'description': 'l...",{'all': 100},"{'speed': 0.88, 'deg': 225, 'gust': 1.32}",10000,0.84,{'3h': 0.72},{'pod': 'd'},2025-08-25 00:00:00,0.72
35,1756090800,"{'temp': 300.8, 'feels_like': 303.51, 'temp_mi...","[{'id': 500, 'main': 'Rain', 'description': 'l...",{'all': 100},"{'speed': 1.31, 'deg': 255, 'gust': 2.6}",10000,0.39,{'3h': 0.24},{'pod': 'd'},2025-08-25 03:00:00,0.24
36,1756101600,"{'temp': 302.22, 'feels_like': 306.03, 'temp_m...","[{'id': 500, 'main': 'Rain', 'description': 'l...",{'all': 100},"{'speed': 1.73, 'deg': 241, 'gust': 2.98}",6311,1.00,{'3h': 2.01},{'pod': 'd'},2025-08-25 06:00:00,2.01
37,1756112400,"{'temp': 300.8, 'feels_like': 304.13, 'temp_mi...","[{'id': 501, 'main': 'Rain', 'description': 'm...",{'all': 100},"{'speed': 3.48, 'deg': 222, 'gust': 4.8}",10000,1.00,{'3h': 3.9},{'pod': 'd'},2025-08-25 09:00:00,3.90
38,1756123200,"{'temp': 299.05, 'feels_like': 299.89, 'temp_m...","[{'id': 500, 'main': 'Rain', 'description': 'l...",{'all': 100},"{'speed': 4.35, 'deg': 231, 'gust': 8.96}",10000,1.00,{'3h': 1.95},{'pod': 'n'},2025-08-25 12:00:00,1.95
39,1756134000,"{'temp': 298.29, 'feels_like': 299.18, 'temp_m...","[{'id': 500, 'main': 'Rain', 'description': 'l...",{'all': 100},"{'speed': 3.4, 'deg': 228, 'gust': 8.6}",10000,0.28,{'3h': 0.15},{'pod': 'n'},2025-08-25 15:00:00,0.15